<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
			<!-- 
				no funciona en IIS extensión .manifest esta reservada o algo?
				<mimeMap fileExtension=".manifest" mimeType="text/cache-manifest" /> 
			-->
        </staticContent>
    </system.webServer>
</configuration>
