/*CSS aplicado a todos los botones
*Carga imagen png semitransparente y la expande para ocupar todo el espacio disponible
*Dos estados: normal, pulsado
*/

html { font-size: 14px; }

/*button{
border: 1px solid #cccccc;
background-image: url(img/bot.png) , url(img/iconoVenda.png);
background-repeat: no-repeat;
background-position: center bottom, 5px center; 
font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;font-weight: bold;
font-size:15px;
-o-background-size: 100% 100%,64px 100%;
-webkit-background-size: 100% 100%,64px 100%;
}

button:active{
border: 1px solid #cccccc;
background-image: url(img/bot_pulsado.png) , url(img/iconoPuerta.png);
background-repeat: no-repeat;
background-position: center bottom, 5px center; 
font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;font-weight: bold;
font-size:15px;
-o-background-size: 100% 100%,64px 100%;
-webkit-background-size: 100% 100%,64px 100%;
}*/


button{
border: 1px solid #cccccc;
background-image: url(img/bot.png) ;
background-repeat: no-repeat;
background-position: center bottom; 
/*font-family: Trebuchet MS, Verdana, Arial, sans-serif;*/font-weight: bold;
/*font-size:15px;*/
-o-background-size: 100% 100%;
-webkit-background-size: 100% 100%;
-moz-background-size: 100% 100%;
}

button:active{
/*border: 1px solid #cccccc;*/
background-image: url(img/bot_pulsado.png);
/*background-repeat: no-repeat;
background-position: center bottom; 
font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;font-weight: bold;
font-size:15px;
-o-background-size: 100% 100%;
-webkit-background-size: 100% 100%;
-moz-background-size: 100% 100%;*/
}

/*CSS para divs con botones izq*/
/*.divPuerta{ border: 1px solid #dddddd; background: url(img/iconoPuerta.png);-webkit-background-size: 100% 100%; color: #333333; }
.divVenda{ border: 1px solid #dddddd; background: url(img/iconoVenda.png);-webkit-background-size: 100% 100%; color: #333333; }
.divEditorTeclats{ border: 1px solid #dddddd; background: url(img/iconoEditorTeclats.png);-webkit-background-size: 100% 100%; color: #333333; }
.divCajaFuerte{ border: 1px solid #dddddd; background: url(img/iconoCajaFuerte.png);-webkit-background-size: 100% 100%; color: #333333; }
*/
/*
button{border: 1x solid #cccccc; background: lightgrey url(transp_button5.png);-o-background-size: 100% 100%;-webkit-background-size: 100% 100%; font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;font-weight: bold;}
button:active{border: 1px solid #cccccc; background: lightgrey url(transp_button6.png);-o-background-size: 100% 100%;-webkit-background-size: 100% 100%; font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;font-weight: bold;}

button{background: #ffffff url(transp_button5.png);-o-background-size: 100% 100%;-webkit-background-size: 100% 100%; font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;font-weight: bold;}
button:active{background: #ffffff url(transp_button6.png);-o-background-size: 100% 100%;-webkit-background-size: 100% 100%; font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;font-weight: bold;}
*/

/*.ui-widget-content { border: 1px solid #dddddd; background: #eeeeee url(ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x; color: #333333; }*/
.ui-widget-content { 
/*Gradiente blanco-gris*/
/*border: 1px solid #dddddd;*/
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* W3C */
/*color: #333333;*/ 
}
/*.ui-widget-content a { color: #333333; }*/
/*.ui-widget-header { border: 1px solid #e78f08; background: #f6a828 url(ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }*/
.ui-widget-header { /*border: 1px solid #e78f08;*/ background: lightgray; /*color: #ffffff; font-weight: bold;*/ }

button.ui-state-default, .ui-widget-content button.ui-state-default, .ui-widget-header button.ui-state-default { 
	border:0px; 
	background-image: url(img/bot.png) ;
	background-repeat: no-repeat;
	background-position: center bottom; 
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
}
/*.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #cccccc; background: #f6f6f6 url(ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #1c94c4; }*/
/*.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #1c94c4; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #fbcb09; background: #fdf5ce url(ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #c77405; }
.ui-state-hover a, .ui-state-hover a:hover { color: #c77405; text-decoration: none; }
*/
button.ui-state-active, .ui-widget-content button.ui-state-active, .ui-widget-header button.ui-state-active {
	border: 0px; 
	background-image: url(img/bot_activo.png) ;
	background-repeat: no-repeat;
	background-position: center bottom; 
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
}
/*.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {background: url(img/bot_activo.png);-o-background-size: 100% 100%;-webkit-background-size: 100% 100%; border: 0px;font-weight: bold; color: #eb8f00;}*/
/*.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #fbd850; background: #ffffff url(ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #eb8f00; }*/
/*.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #eb8f00; text-decoration: none; }
.ui-widget :active { outline: none; }
*/

button.buttonPuerta, .ui-widget-content button.buttonPuerta, .ui-widget-header button.buttonPuerta {
background-image: url(img/bot.png) , url(img/iconoPuerta.png);
background-repeat: no-repeat;
background-position: center bottom, 8px center; 
min-height:100%;
-o-background-size: 100% 100%,contain;
-webkit-background-size: 100% 100%, contain;
-moz-background-size: 100% 100%,contain;
}
button.buttonVenda, .ui-widget-content button.buttonVenda, .ui-widget-header button.buttonVenda {
background-image: url(img/bot.png) , url(img/iconoVenda.png);
background-repeat: no-repeat;
background-position: center bottom, 8px center; 
-o-background-size: 100% 100%,contain;
-webkit-background-size: 100% 100%,contain;
-moz-background-size: 100% 100%,contain;
}
button.buttonEditorTeclats, .ui-widget-content button.buttonEditorTeclats, .ui-widget-header button.buttonEditorTeclats  {
background-image: url(img/bot.png) , url(img/iconoEditorTeclats.png);
background-repeat: no-repeat;
background-position: center bottom, 8px center; 
-o-background-size: 100% 100%,contain;
-webkit-background-size: 100% 100%,contain;
-moz-background-size: 100% 100%,contain;
}
button.buttonCajaFuerte, .ui-widget-content button.buttonCajaFuerte, .ui-widget-header button.buttonCajaFuerte {
background-image: url(img/bot.png) , url(img/iconoCajaFuerte.png);
background-repeat: no-repeat;
background-position: center bottom, 8px center; 
-o-background-size: 100% 100%,contain;
-webkit-background-size: 100% 100%,contain;
-moz-background-size: 100% 100%,contain;
}
