/* CSS Document */

/* gradient 1 */
.titulo h1 {
	font: bold  "Lucida Grande", Arial, sans-serif;
	position: relative;
	margin: 30px 0 50px;
	color: #464646;
	text-align:center;
	width:100%;
}

.titulo span {
	background: url(images/gradient-white.png);
	position: absolute;
	display: block;
	width: 100%;
	height: 31px;
}

.pasos{
	text-align:left;
	width:600px;
}

.etiquetas{
	border:#CCC solid 2px;
	font-weight:bold;
	font-family:Geneva, sans-serif;
	font-size:12px;
	background: url(images/gradient-white.png);
}

body{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:15px;
}

#applet{
	border:#000 solid 2px;
	text-align:center;
	margin-left:35%;
	background-color:#FFF;
	width:300px;
	float:none;
}

#puerto{
	width:105px;
}