@charset "utf-8";

/******* GENERAL RESET *******/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td {
    border:0pt none;
    font-family:inherit;
    font-size:100%;
    font-style:inherit;
    font-weight:inherit;
    margin:0pt;
    padding:0pt;
    vertical-align:baseline;
}

/***** GENERAL *****/
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
}

ul, ol, dl {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
}

a img {
	border: none;
}

a:link {
	color: #42413C;
	text-decoration: underline;
}

a:visited {
	color: #6E6C64;
	text-decoration: underline;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}

/***** CONTENEDORES *****/
header{
	background: #ADB96E;
	height: 70px;
	max-height: 90px;
}

aside{
	width: 15%;
	height: 100%;
	
	background: #EADCAE;
}

article{
	width: 85%;
	height: 100%;
}

footer{
	background: #ADB96E;
	height: 50px;
	max-height: 50px;
	
	text-align: center;
	font-size: 10px;
}

.contenedor{
	width: 960px;
	background: #FFFFFF;
	margin: 0 auto;
	
	border: solid 2px #000;
}

.contLogo{
	background: #FFF;
	text-align: center;
	display:block;
	width: 15%;
	height: 100%;
}

.contSubmenu{
	width: 100%;
	height: 44px;
	margin-top: -44px;
}

.contPrincipal{
	height: 525px;
	min-height: 500px;
}

img.logohit{
	width: 70%;
	height: 80%;
	margin: 10px;
}

/***** ALINEACIÓN VERTICAL DE CONTENIDOS *****/
/*
	Para centrar verticalmente el contenido, añandir el siguiente código:
	Contenido centrado... <img class="centro" />
*/
img.centro { 
   height: 100%;
   vertical-align: middle;
   width: 0px;
}

img.abajo { 
   height: 100%;
   vertical-align: bottom;
   width: 0px;
}

/***** MENÚ PRINCIPAL*****/
ul.menu {
	list-style: none;
	border-top: 1px solid #666;
	margin-bottom: 15px;
	
	cursor: pointer;
}

ul.menu li {
	border-bottom: 1px solid #666;
	padding: 5px 5px 5px 15px;
	display: block;
	text-decoration: none;
	background: -webkit-gradient(radial, 100 50, 0, 100 50, 431, from(#C6D580), to(#000));
}

ul.menu li:hover, ul.menu li.active{
	background: -webkit-gradient(radial, 100 50, 0, 100 50, 431, from(#ADB96E), to(#000));
	color: #FFF;
	
	font-weight: bold;
}

/***** SUBMENÚS *****/
ul.submenu{
    list-style: none;
    list-style-type: none;
    list-style-position: outside;
	
	width: 100%;
	height: 100%;
	float: left;
}

ul.submenu li{
	float:left;
    font-weight:700;
    display:block;
    padding:10px 15px;
	background: -webkit-gradient(radial, 100 50, 0, 100 50, 431, from(#9C0), to(#000));
    border:1px solid #3e3e3e;
    border-width:1px 1px 1px 1px;
    position:relative;
    color:#e4e1cd;
    cursor:pointer;
    border-radius:15px 15px 0 0;
    -moz-border-radius:15px 15px 0 0;
    -webkit-border-radius:15px 15px 0 0;
}
ul.submenu li:hover{
	background: -webkit-gradient(radial, 100 50, 0, 100 50, 431, from(#09F), to(#000));
    color:#fff;
}

ul.submenu li.active{
	background: -webkit-gradient(radial, 100 50, 0, 100 50, 431, from(#096), to(#000));
    top:1px;
    border-bottom:0;
    color:#fff;
}

ul.submenu.subUno{
    display: block;
}
ul.submenu.subDos{
    display: block;
}
ul.submenu.subTres{
    display: block;
}
ul.submenu.subCuatro{
    display: block;
}

/***** FLOAT / CLEAR *****/
.floatRight {
	float: right;
}
.floatLeft {
	float: left;
}
.clearFloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

/*Compatibilidad con HTML 5: define nuevas etiquetas HTML 5 como display:block para que los navegadores sepan cómo procesar las etiquetas correctamente. */
header, section, footer, aside, nav, article, figure {
	display: block;
}

/**** CONTENIDOS *****/
.contenido{
	width: 100%;
	height: 100%;
}

.contenido.contUno{
	display:block;
}

.contenido.contDos{
	display:none;
}

.contenido.contTres{
	display:none;
}

.contenido.contCuatro{
	display:none;
}

.subContenido{
	width: 100%;
	height: 100%;
	
	overflow: auto;
	
	background-color: #CCC;
}

.subContUno{
	width: 100%;
	height: 100%;
}

.subContDos{
	width: 100%;
	height: 45%;
}

.subContTres{
	width: 100%;
	height: 100%;
}

.subContCuatro{
	width: 100%;
	height: 100%;
}

.subContTres.testsinc{
	display:block;
	
	color: #000;
	font-family: "Courier New", Courier, monospace;
	
	text-overflow: ellipsis;
}

.subContTres.logsinc{
	display:none;
	color: #000;
	font-family: "Courier New", Courier, monospace;
	
	text-overflow: ellipsis;
}

.utilizacion{
	display:block;
}

.borrado{
	display:none;
}

.sustitucion{
	display:none;
}

.aguas{
	display:block;
}

.refrescos{
	display:none;
}

.vinos{
	display:none;
}

.acercaDe{
	display:block;
}

/***** EXTRA *****/
h2{
	font-weight:bold;
	font-size:24px;
}

table.productos{
	background: #EADCAE;
	width: 100%;
	margin: 0px;
}

table.productos td{
	background: -webkit-gradient(radial, 200 50, 0, 200 50, 431, from(#0CF), to(#000));
	
	color: #000;
	border: solid 1px #000;
	border-radius: 10px;
	padding: 1em;
	cursor: pointer;
	
	text-align: center;
	
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
}

table.productos td:hover{
	background: -webkit-gradient(radial, 200 50, 0, 200 50, 431, from(#009), to(#000));
	color: #FFF;
}

.contTabla{
	background: #EADCAE;
	border: solid 1px #000;
	height: 100%;
	
	overflow: auto;
}

th{
	text-align: left;
	font-weight: bold;
}

input.iProductos{
	width: 60%;
	margin: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
}

input.insertar{
	width: 35%;
	margin: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
}

.visible{
	display:block;
}

.oculto{
	display:none;
}

ul.miLista{
	margin: 25px;
}

.factura{
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	background-color: #FFF;
	width: 480px;
	height: 180px;
	
	margin: 10px;
	padding: 10px;
	
	border: solid 1px #000;
	overflow: auto;
	overflow-style: marquee-line;
}

ul.infoUsuarios {
	list-style: none;
	margin-top: 25px;
	margin-bottom: 15px;
	
	cursor: pointer;
}

ul.infoUsuarios li {
	border-bottom: 1px solid #666;
	padding: 5px 5px 5px 15px;
	display: block;
	text-decoration: none;
	font-size: 12px;
	background: -webkit-gradient(radial, 100 50, 0, 100 50, 431, from(#C6D580), to(#000));
}